.box{
	border-radius: 4px;
	padding: 30px;
	margin-top: 20px;
	margin: 195px;
	border: 2px solid green;
	width: 750px;
	
}

nav  {
	background-color: #1ee854;
	
	
}

.formProdutor {
	box-shadow: 0px 0px 2px grey;
	padding-top: 25px;
	padding-left: 35px;
	padding-right: 15px;
	padding-bottom: 25px;
	margin-top: 60px;
	font-size: 15pt;
	font-family: Tahoma;
	
}