<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Início</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="style/css.css">
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/inicio">INÍCIO</a></li>
        <li><a href="listagem-produtos.html">PRODUTOS DISPONÍVEIS</a></li>
        <li><a href="/cadastrarProdutor">CADASTRAR PRODUTOR</a></li>
        <li><a href="/cadastrarServidor">CADASTRAR SERVIDOR</a></li>
        <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Fazer Login</a></li>
      </ul>
    </div>
  </nav>
  
  	<div class="box">
  		<p>Olá</p>
  	</div>
</body>
</html>
