<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de Servidores</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="style/css.css">
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">CADASTRO DE PRODUTORES</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/inicio">INÍCIO</a></li>
        <li><a href="/login" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Fazer Login</a></li>
      </ul>
    </div>
  </nav>
	<h1>Cadastro de Servidores</h1>
	<br>
	<center>
	<div>
		<form method="post">
	
		Nome: <input type="text" name="nome">
		<br> 
	 	Matrícula: <input type="text" name="matricula">
	 	<br>
	 	Senha: <input type="text" name="senha">
	 	<br>
	 	<button type="submit">Cadastrar</button>
	
	</form>
	</div>
	</center>
</body>
</html>
